{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 IUCCA
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if tandoor_container_labels_traefik_enabled %}
traefik.enable=true

{% if tandoor_container_labels_traefik_docker_network %}
traefik.docker.network={{ tandoor_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if tandoor_container_labels_traefik_middleware_basic_auth_enabled %}
{% set middlewares = middlewares + [tandoor_identifier + '-basic-auth'] %}
traefik.http.middlewares.{{ tandoor_identifier }}-basic-auth.basicauth.users={{ tandoor_container_labels_traefik_middleware_basic_auth_users }}
{% endif %}

{% if tandoor_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ tandoor_identifier }}-slashless-redirect.redirectregex.regex=^({{ tandoor_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ tandoor_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [tandoor_identifier + '-slashless-redirect'] %}
{% endif %}

{% if tandoor_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ tandoor_identifier }}-strip-prefix.stripprefix.prefixes={{ tandoor_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [tandoor_identifier + '-strip-prefix'] %}
{% endif %}

{% if tandoor_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in tandoor_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ tandoor_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [tandoor_identifier + '-add-request-headers'] %}
{% endif %}

{% if tandoor_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in tandoor_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ tandoor_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [tandoor_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ tandoor_identifier }}.rule={{ tandoor_container_labels_traefik_rule }}
{% if tandoor_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ tandoor_identifier }}.priority={{ tandoor_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ tandoor_identifier }}.service={{ tandoor_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ tandoor_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ tandoor_identifier }}.entrypoints={{ tandoor_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ tandoor_identifier }}.tls={{ tandoor_container_labels_traefik_tls | to_json }}
{% if tandoor_container_labels_traefik_tls %}
traefik.http.routers.{{ tandoor_identifier }}.tls.certResolver={{ tandoor_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ tandoor_identifier }}.loadbalancer.server.port={{ tandoor_container_http_port }}
{% endif %}

{% if tandoor_container_labels_additional_labels is string %}
{{ tandoor_container_labels_additional_labels }}
{% else %}
{% for arg in tandoor_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
{% endif %}
